
.capa {
  background-image: url(imagem/capa2.png); 
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  border: 0px;
  padding: 80px;
  display: block;
  max-width: 100%;
}

.icon{
  background-image: url(imagem/icon.png);
  background-image: ();
  background-repeat: no-repeat;
  background-position: left;
  border: 0px;
  padding: 200px;
  max-width: 100px;
  max-height: px;
  

}

#menu{
  background-position: center left;
} 

#body {
    background: rgb(77, 119, 235);
     }
  
.caixa {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    width: 300px;
    height: 250px;

  }
  .caixa {
   
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
     
      
  }
  
  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .perguntas {
    
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .perguntas li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-top: 25px; 
    margin-bottom: 3px;
    margin-left: 25%;
  }
  
  
ul {
  padding: 0;
  list-style-type: none;
}

li {
  font-size: 25px;
  width: 8em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  font-family: sans-serif;
  text-transform: capitalize;
  position: relative;
  transition: 0.5s;
  margin: 0.8em;
}

li::before,
li::after {
  content: '';
  position: absolute;
  width: 0.6em;
  height: 0.6em;
  background-color: gainsboro;
  border-radius: 50%;
  transition: 0.5s cubic-bezier(0.5, -0.5, 0.25, 1.5);
  top: calc(50% - 0.6em / 2);
}

li::before {left: 0; z-index: -1;}
li::after {right: 0; z-index: -2;}

li:hover {
  color: white;
}

li:hover::before,
li:hover::after {
  width: 100%;
  height: 100%;
  border-radius: 0;
  background-color: rgb(127, 27, 221);
}

li:hover::before {
  top: 0;
}

li:hover::after {
  right: -0.4em;
  filter: brightness(0.8);
}